# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. python
2. SQL
3. R
4. Julia

**Some of the popular languages that Data Scientists use are:**
1. python
2. SQL
3. R
4. Julia

**Some of the commonly used libraries used by Data Scientists include:**
 
 1. TensorFlow. 
 2. SciPy. 
 3. NumPy.

**Data Science Tools**
|Data Science Tools|
|-|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
(200 / 6)

33.333333333333336

**Objectives:**
List popular languages for Data Science.
- Python 
- SQL
- R

## Author 
name : Rodrigo Kurte